In [2]:
name = input("Enter your name ")
print(name)

Enter your name Gabriel
Gabriel

In [3]:
print(name[0:2])

Ga

In [5]:
print(name)

Gabriel

In [6]:
print(name[:5])

Gabri

In [7]:
print(name[5:])

el

In [8]:
print(name[-5:])

briel

In [9]:
surname = "this is a very long text and it is difficult to count the indices"

In [10]:
print(name[-4:-2])

ri

In [13]:
str1 = "Bertin"
str2 = "Fonge"
name_surname = str1 + " " +  str2
print(name_surname)

Bertin Fonge

In [22]:
raduis = int(input("enter the raduis "))

area = 3.142 * int(raduis**2)
message = "The area of a circle with radius " + str(raduis) + " is =" + str(area)
print(message)

enter the raduis 13
The area of a circle with radius 13 is =530.9979999999999

In [23]:
print(name[0])

G

In [24]:
print(name[-1])

l

In [29]:
number = [1 , 2, 3, 4, 5 ,6, 'name', 'item', 7,8,9]

In [81]:
name = "gabby favorite quote, God is not. dead quote, dfd ."
name = name.capitalize()

print("count; quote " + str(count_quote) + " god " + str(count_god) + " not " + str(count_not))

count; quote 2 god 0 not 1

In [93]:
expression = '(4*3343)(121*545)(1+2)'

In [94]:
expre1 = expression[:expression.index(')') +1]
expression = expression[expression.index(')')+1:]
expre2  = expression[:expression.index(')') +1]
expression = expression[expression.index(')')+1:]
expre3  = expression[:expression.index(')') +1]
print(expre1)
print(expre2)
print(expre3)

(4*3343)
(121*545)
(1+2)